[DEFAULT]
url = https://<URL you want to test>
authorization = "<Authorization header value>"
payload_template = {"accountNo": "ACCOUNT_NO_PLACEHOLDER", "orgID": "IdYo-bTYX-XmAr-wTRA-HNbb-SoEJ", "agentID": "stress_test1", "amount": "AMOUNT_PLACEHOLDER", "statementDescription": "Monthly Service", "mobileNumber": "0000000000"}

